<div class="container">
  <div class="jumbotron">
    <h1>Phani Bandaru</h1>
    <p>this is an angular routing.</p>
  </div>
  <div>
    <div heading="Profile Information">
      <div class="row">
        <div class="col-md-6">
            Name
        </div>
        <div class="col-md-6">
            Phani Bandaru
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            Occupation
        </div>
        <div class="col-md-6">
            Software Engineer
        </div>
      </div>
    </div>
    <div heading="More info">
      <h1>More Info</h1>
      <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah
        blah blahblah blahblah blahblah blahblah blahblah blahblah blah
      </p>
    </div>
    <div heading="Other 1">
      <p>other content 1</p>
    </div>
    <div heading="Other 2">
      <p>other content 2</p>
    </div>
  </div>

</div>
